<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns:aop="http://www.springframework.org/schema/aop"
	xmlns:context="http://www.springframework.org/schema/context"
	xmlns:p="http://www.springframework.org/schema/p"
	xsi:schemaLocation="http://www.springframework.org/schema/beans https://www.springframework.org/schema/beans/spring-beans.xsd
		http://www.springframework.org/schema/aop http://www.springframework.org/schema/aop/spring-aop.xsd
		http://www.springframework.org/schema/context http://www.springframework.org/schema/context/spring-context.xsd">

	<!-- DI 프로퍼티 설정방식 -->
   	<bean name="registerDAO" class="kr.spring.ch07.RegisterDAO"/>
	<bean name="registerService" class="kr.spring.ch07.RegisterService">
		<!-- name : 의존 객체를 주입할 때 사용할 설정 메서드(setter)의 프로퍼티 이름 -->
		<property name="registerDAO">
			<ref bean="registerDAO"/>
		</property>
	</bean>
</beans>